
    <%- include("partials/header") %>
    <h1>Random Quote</h1>
    <p><%= quote %></p>
    <form method="get" action="/">
        <button>Next Quote</button>
    </form>
    <%- include("partials/footer) %>

   
    
