<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
</head>
<body>
  <%- include('partials/header') %>
  <h2>Thank you, <%= name %>!</h2>
  <p>Your message:</p>
  <blockquote><%= message %></blockquote>
  <a href="/">Go back</a>
</body>
</html>
